/* COMMON */

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  display: block;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: black;
}

a {
  text-decoration: none;
}

img, embed, video, object {
  max-width: 100%;
}

.header {
  position: relative;
  display: none;
  width: 100%;
  z-index: -2;
  height: 72px;
  border-bottom: 1px solid black;
}

.header h1 {
  text-align: center;
}

.header-logo {
  max-width: 50px;
  max-height: 50px;
  display: inline;
}

/* FIXED-HEADER */

.fixed-header {
  position: fixed;
  top: 0;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid black;
}

.fixed-header .touch-button {
  margin-left: 12px;
}

.fixed-header h1 {
  margin-top: 8px;
  font-style: italic;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: auto;
}

.touch-button {
  min-width: 45px;
  min-height: 45px;
}

.container:first-of-type {
  margin-top: 72px;
}

/* HAMBURGER MENU */

.navigation-menu {
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 300px;
  border-right: 1px solid black;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.navigation-menu h2 {
  max-width: 250px;
  margin-left: 15px;
  margin-top: 15px;
}

.nav-open {
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}

.navigation-menu div {
  float: right;
}

.menu-item {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid black;
  border-collapse: collapse;
}

/* SOCIAL LINKS*/

.social-links {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 0.5em;
}

.social-links div {
  border: 1px solid black;
  height: 45px;
  width: 33.3%;
  border-top: 0;
  border-collapse: collapse;
}

.social-links div:last-child {
  width: 33.4%;
}

.social-links div li {
  text-align: center;
  margin-top: 12px;
}

/* WELCOME */

.welcome h2, .welcome p {
  text-align: right;
  margin-right: 0.5em;
}

/* PROJECTS */

.article {
  width: 80%;
  height: auto;
  padding: 1em;
  border: 0.5px solid #727276;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 1.5em 0;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.article div {
  width: 67%;
}

.article:nth-child(2n+1) {
  margin-right: 0;
  margin-left: auto;
  border-right: none;
}

.article:nth-child(2n+1) div {
  order: 2;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.article:nth-child(2n+1) .article-palette {
  order: 1;
}

.article h2 {
  width: 100%;
  margin-bottom: 0.5em;
}

.article-palette {
  width: 33%;
  text-align: center;
}

.article-palette li {
  margin: 8px auto;
}

.article-picture {
  width: 200px;
  height: 200px;
}

/* MEDIA QUERIES */

@media screen and (min-width:700px) {
  .fixed-header, .navigation-menu {
    display: none;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .article {
    width: 400px;
    height: 400px;
    margin: auto!important;
    margin-bottom: 50px!important;
  }
  .header {
    display: block;
  }
  .container {
    margin: 0!important;
  }
  .welcome h2, .welcome p {
    text-align: center;
  }
  @media screen and (min-width:1200px) {
    main {
      width: 1200px;
      margin: 0 auto;
      border: 0.5px solid #727276;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }