* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 10px;
}

body {
  background-color: black;
}

.page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container {
  border: 1px solid #727276;
  background-color: #57b4d6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
  width: 20%;
  min-height: 600px;
}

.card-container h1 {
  font-family: "Monoton", "Helvetica", sans-serif;
  font-size: 32px;
  text-align: center;
}

.card-color-picker, .card-grid-dimensions, .card-grid-dimensions form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  border: 1px solid #727276;
  background-color: white;
  border-radius: 10px;
  min-width: 300px;
  width: 70%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container table {
  margin: 50px auto;
}

table, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type=number] {
  width: 3em;
  text-align: center;
}

input[type=submit] {
  margin-top: 5px;
  border: 1px solid #727276;
  border-radius: 5px;
  width: 40px;
}

input[type=color] {
  width: 3em;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
}